* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}
.nav-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  position: fixed;
  width: 100%;
  padding: 0 20px;
}
.nav-img img {
  width: 55px;
  height: 55px;
  border-radius: 40%;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
}
nav ul li a {
  text-decoration: none;
  padding: 10px;
  color: #efff;
  font-size: 17px;
  transition: 0.5s;
  font-weight: 500;
}
nav ul li a:hover {
  color: #fd7a08;
  font-size: 20px;
}
.nav-img i {
  font-size: 45px;
  margin-right: 15px;
  color: #efff;
  transition: 0.5s;
}
.nav-img i:hover {
  color: black;
}
.f-12 {
  height: 50vh;
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}
.f-1 {
  width: 20%;
  height: 100%;
  background-color: #efefef;
  border-radius: 20px;
  border: solid 2px rgb(189, 189, 189);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}
.f-1 img {
  width: 100%;
  height: 45%;
  padding: 5px;
  border-radius: 20px;
}
.f-1 h2 {
  text-align: center;
  font-weight: bold;
  color: rgb(100, 100, 100);
}
.f-1 hr {
  margin-left: 10%;
  margin-right: 10%;
}
.f-1 p {
  padding: 10px;
  font-size: 20px;
  color: rgb(171, 168, 168);
}
.f-2 {
  width: 20%;
  height: 100%;
  background-color: #efefef;
  border-radius: 20px;
  border: solid 2px rgb(189, 189, 189);
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.3);
}
.f-2 img {
  width: 100%;
  height: 45%;
  padding: 5px;
  border-radius: 20px;
}
.f-2 h2 {
  text-align: center;
  font-weight: bold;
  color: rgb(100, 100, 100);
}
.f-2 hr {
  margin-left: 10%;
  margin-right: 10%;
}
.f-2 p {
  padding: 10px;
  font-size: 20px;
  color: rgb(171, 168, 168);
}
